<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NServiceKit" version="3.9.2" />
  <package id="NServiceKit.Common" version="3.9.0" />
  <package id="NServiceKit.OrmLite.Sqlite.Mono" version="3.9.3" />
  <package id="NServiceKit.OrmLite.SqlServer" version="3.9.2" />
  <package id="NServiceKit.Redis" version="3.9.0" />
  <package id="NServiceKit.Text" version="3.9.2" />
</packages>